*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffffff;
    background-color: #040413;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 100px 20px;

}

.wrap1{
    text-align: center;
}

.wrap1 h1{
    margin-bottom: 50px;
}

.wrap1 img{
    text-align: center;
    height: 400px;
    width: 280px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.wrap1 p{
padding: 10px;
max-width: 650px;
line-height: 30px;
text-align: justify;
text-justify: inter-character;
}

.wrap2{
text-align: center;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
line-height: 25px;
}

#p1, #p2{
    max-width: 360px;
    margin: 18px;  
}

#p1{
    line-height: 60px;
    font-size: 20px;
}

#p2{
    text-align: justify;
}

.wrap1 .socials{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

.wrap1 .socials img{
    height: 35px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 1s;   
}
.wrap1 .socials img:hover{
    transform:rotate3d(0, 5.0, 80.0, 100deg);
}

.wrap3{
    text-align: center;
    margin-bottom: 80px;
    font-size: 25px;
    max-width: 600px;
    line-height: 50px;

}
.wrap3 hr{
    margin-bottom: 50px;

}

.wrap4{
text-align: center;
}

.wrap4 img{
    height: 290px;
    width: 380px;
    padding: 10px;
    border-radius: 40px;
    transition: all .7s;
}

.wrap4 img:hover{
    transform: scale(1.1);
}

.wrap5{
display: flex;
flex-wrap: wrap;
justify-content: center;
line-height: 25px;
text-align: justify;
}
.wrap5 .info1, .info2{
    margin: 15px;
    max-width: 400px;
    padding: 8px;
}
.wrap5 .info1 h5{
    margin-bottom: 15px;
}

.wrap6{
    text-align: center;
    margin: 30px;
    font-size: 15px;
}

button{
    background-color: rgb(7, 0, 29);
    padding: 20px;
    border: 2px solid #fff;
    color: #fff;
    cursor:pointer;
    margin: 20px 0px 50px 0px;
    font-weight: bolder;
    border-radius: 3px;
}
button:hover{
    background-color: black;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.foot{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 300px;
}